<div class="header">
  <div class="temp">
    <div id="logo-container">
      <div class="logo" style="font-size: 50px; line-height: 70px;"><%= link_to "Electronic Music 4 Ever", root_path, :title => "Electronic Music 4 Ever" %>
      </div>
    </div>

    <ul id="nav">
      <li class="active">
          <a href="/" id="widget1"></a>
       </li>
       <li>
          <a href="/about" id="widget2">About</a>
       </li>
       <li>
          <a href="/news" id="widget3">News</a>
       </li>
       <li>
          <a href="/gallery" id="widget4">Gallery</a>
       </li>
       <li>
          <a href="/contact" id="widget5">Contact</a>
       </li>
    </ul>

    <div class="social" style="width:20%">
      <a href="https://plus.google.com/115808384490128467572" rel="publisher" target="_blank"><%= image_tag "google-plus-4-256.ico", style: "max-width:52%" %></a>
      <a href="http://facebook.com/231320383554518" rel="publisher" target="_blank"><%= image_tag "facebook.png", style: "max-width:52%" %></a>
    </div>

    <div class="fix"></div>
    <a href="/news#" id="pull">Navigation</a><!--switching menus for mobile-->
  </div>

  <div class="footer">
    <div class="left">© Electronic Music 4 Ever</div>
    <div class="fix"></div>
  </div>
</div>
