<div class="to-be-hide"></div>
<div class="footer2">
  <div class="left">© Electronic Music 4 Ever</div>
  <div class="fix"></div>
</div>

<script type="text/javascript">
  jQuery(function ($) {
    //$('#logo-container').bigtext();
  $.backstretch("images/1069790_620597254626827_967304324_n.jpg");
  });
</script>

<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 741px; width: 1530px; z-index: -999999; position: fixed;">
<%= image_tag "1069790_620597254626827_967304324_n.jpg", :style => "position: absolute; margin: 0px; padding: 0px; border: none; width: 1530px; height: 1017.875px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -138.4375px;" %>
</div>
