<li>
  <div class="date"><%= time_ago_in_words(news_item.created_at) %> ago:</div>
  <div class="post">
    <div class="full_post">
      <%= news_item.title %>
      <br/>
      <%= news_image_link(news_item) %>
    </div>
  </div>
  <div class="fix"></div>
</li>
