<div class="transparent_overlay"></div>
<div class="container_24 wrap">
  <%= render partial: "shared/left_header" %>

  <div class="grid_15 alpha omega push_10 with_border">
    <div id="content_holder">
      <div class="subholder">
        <h2>About</h2>
        <div style="font-size:17px">
          <p>It has been defined as the twenty-first century classical music but is much more.<br>
            <br>
            There are few who know the power of trance, least those that feel its power.<br>
            <br>
            Understand and enjoy it is a privilege that only some can live.<br>
            <br>
            Find more about:<br>
          </p>
        </div>
        <a class="url link" href="https://plus.google.com/115808384490128467572" target="_blank">Google+</a>
        <br><br>
        <a class="url link" href="https://www.facebook.com/www.tranceforever.com.ar" target="_blank">Facebook</a>
        <br><br>
        <a class="url link" href="https://twitter.com/#!/TranceForEver20" target="_blank">Twitter</a>
      <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/left_footer" %>
