<div class="transparent_overlay"></div>
<div class="container_24 wrap">
  <%= render partial: "shared/left_header" %>

  <div class="grid_15 alpha omega push_10 with_border">
    <div id="gallery">
      <div class="subholder">
        <h2>Gallery</h2>
        <div class="tab_content" id="tab1" style="display: block;">
          <ul class="shifted">
            <li>
              <div class="img-holder nailthumb-container" style="overflow: hidden; padding: 0px; width: 320px; height: 240px;">
                <a href="images/gallery/1069790_620597254626827_967304324_n.jpg" class="fancybox" title="Click to see more!" rel="Cover Photos" style="">
                  <div class="border">
                    <img src="images/gallery/1069790_620597254626827_967304324_n.jpg" style="position: relative; width: 360.5633802816902px; height: 240px; top: 0px; left: -20.281690140845086px;" class="nailthumb-image">
                  </div>
                </a>
              </div>
              <p>Cover Photos </p>
            </li>

            <a href="images/gallery/971844_620009961352223_1193462283_n.jpg" title="" class="fancybox" rel="Cover Photos" style="display: none; height: 0; width: 0;"></a>
            <a href="images/gallery/1011861_619865074700045_1716159767_n.jpg" title="" class="fancybox" rel="Cover Photos" style="display: none; height: 0; width: 0;"></a>
            <a href="images/gallery/480196_611933218826564_1983453823_n.jpg" title="" class="fancybox" rel="Cover Photos" style="display: none; height: 0; width: 0;"></a>
          </ul>
        </div>
        <div class="tab_content" id="tab2" style="display: none;"></div>
       </div>
    </div>
  </div>
</div>

<%= render partial: "shared/left_footer" %>

<script type="text/javascript">
  $(function(){
    $(".border > img").mouseenter(function() {
      var $p = $(this);
      var $pp = $(this).parent().parent().parent();
      //alert($pp.html());
      $pp.css('background','#F15A24');
      if (!$p.hasClass('in-trans') && !$p.hasClass('in-hover')) {
        //$pp('.thumb-title').css('color','red');
        $p.addClass('in-trans').fadeTo(1, 0.5, function() {
          $p.addClass('in-hover').removeClass('in-trans');;
        });
      }
    }).mouseleave(function() {
      var $p = $(this);
      var $pp = $(this).parent().parent().parent();
      $pp.css('background','#50534F');
      $p.addClass('in-trans').fadeTo(1, 1, function() {
        $p.removeClass('in-hover').removeClass('in-trans');;
      });
    });
  });
</script>
