<div class="transparent_overlay"></div>
<div class="container_24 wrap">
  <%= render partial: "shared/left_header" %>

  <div class="grid_15 alpha omega push_10 with_border" style="width: 1075px;">
    <div id="home">
      <p>Feeling what your freedom wants</p>
    </div>
  </div>
</div>

<%= render partial: "shared/left_footer" %>

<script type="text/javascript">
  $(function(){
  if( $(window).width() > 767 )
  $('.container_24 .grid_15').width($(window).width()-($('.container_24 .header').width()+100));
  });
  $(window).resize(function() {
  if( $(window).width() > 767 )
    $('.container_24 .grid_15').width($(window).width()-($('.container_24 .header').width()+100));
  });

  $(window).bind('orientationchange', function(event) {
    if( $(window).width() > 767 )
  $('.container_24 .grid_15').width($(window).width()-($('.container_24 .header').width()+100));
  });
</script>
