    	<div class="transparent_overlay"></div>
    	<div class="container_24 wrap">
        	
            <div class="header">
            	<div class="temp">
                    <div id="logo-container">
                    <div class="logo" style="font-size: 45px; line-height: 70px;"><%= link_to "Electronic Music 4 Ever", root_path, :title => "Electronic Music 4 Ever" %></div></div>
	                  
	                  <ul id="nav">
							 				<li class="active">
			                    <a href="/" id="widget1"></a>
			                 </li>
			                 <li>
			                    <a href="/about" id="widget2">About</a>
			                 </li>
			                 <li>
			                    <a href="/news" id="widget3">News</a>
			                 </li>
			                 <li>
			                    <a href="/gallery" id="widget4">Gallery</a>
			                 </li>
			                 <li>
			                    <a href="/contact" id="widget5">Contact</a>
			                 </li>                            
	                  </ul>

                    <div class="social">   <a href="http://facebook.com/231320383554518" title="Facebook Page!" target="_blank"><%= image_tag "facebook.png" %></a> </div>             
                        <div class="fix"></div>
                        <a href="/news#" id="pull">Navigation</a><!--switching menus for mobile-->
                </div>
                <div class="footer">
                    <div class="left">© Electronic Music 4 Ever</div>
                    <div class="fix"></div>
                </div>
            </div><!-- Header Ends -->
        
            <div class="grid_15 alpha omega push_10 with_border">
                                    <!-- content_holder starts -->
<div id="content_holder">
	<div class="subholder">
        <h2>News</h2>   
        <!-- <h3>Updates</h3> -->
        <ul class="updates">
                                <li>
                <div class="date">Jul 19:</div>
                <div class="post">
                <div class="full_post"> 
                    							   
                        
                        Hook N Sling ! great show !

<a class="url link" href="http://www.youtube.com/watch?v=EE3vnkiI6qo" target="_blank">http://www.youtube.com</a>	<span class="fbcaption" style="display: none;"><a href="http://www.youtube.com/watch?v=EE3vnkiI6qo" target="_blank"></a></span>
             
                                                                </div>
                                    <div class="more"><a href="http://www.youtube.com/watch?v=EE3vnkiI6qo" target="_blank"><span>See video</span></a></div>
                                
                </div>
                <div class="fix"></div>
            </li>
                        <li>
                <div class="date">Jul 19:</div>
                <div class="post">
                <div class="full_post"> 
                    							   
                        
                        Nicky Romero rocking the world !	<span class="fbcaption" style="display: none;"><a href="http://www.facebook.com/photo.php?fbid=605786856132719&set=a.602759209768817.1073741838.153464388031637&type=1" target="_blank">By @Rukes</a></span>
             
                                                                </div>
                                    <div class="more"><a href="http://www.facebook.com/photo.php?fbid=605786856132719&set=a.602759209768817.1073741838.153464388031637&type=1" target="_blank"><span>See picture</span></a></div>
                                
                </div>
                <div class="fix"></div>
            </li>
                        <li>
                <div class="date">Jul 18:</div>
                <div class="post">
                <div class="full_post"> 
                    							   
                        
                        Incredible Fedde Le Grand

<a class="url link" href="http://www.youtube.com/watch?v=O0vf2EfesOA" target="_blank">http://www.youtube.com</a>	<span class="fbcaption" style="display: none;"><a href="http://www.youtube.com/watch?v=O0vf2EfesOA" target="_blank"></a></span>
             
                                                                </div>
                                    <div class="more"><a href="http://www.youtube.com/watch?v=O0vf2EfesOA" target="_blank"><span>See video</span></a></div>
                                
                </div>
                <div class="fix"></div>
            </li>
                        <li>
                <div class="date">Jul 18:</div>
                <div class="post">
                <div class="full_post"> 
                    							   
                        
                        Awesome track!

<a class="url link" href="http://www.youtube.com/watch?feature=player_detailpage&v=zFkMebR32Ys#t=96s" target="_blank">http://www.youtube.com</a>	<span class="fbcaption" style="display: none;"><a href="http://www.youtube.com/watch?feature=player_detailpage&v=zFkMebR32Ys#t=96s" target="_blank"></a></span>
             
                                                                </div>
                                    <div class="more"><a href="http://www.youtube.com/watch?feature=player_detailpage&v=zFkMebR32Ys#t=96s" target="_blank"><span>See video</span></a></div>
                                
                </div>
                <div class="fix"></div>
            </li>
                        <li>
                <div class="date">Jul 18:</div>
                <div class="post">
                <div class="full_post"> 
                    							   
                        
                        Happy Birthday Gareth Emery ! :D	<span class="fbcaption" style="display: none;"><a href="http://www.facebook.com/photo.php?fbid=403075359796935&set=a.245351062236033.45165.245336705570802&type=1" target="_blank">Gareth Emery... HAPPY BIRTHDAY.
He became 32 years old.</a></span>
             		</div>
                                    <div class="more"><a href="http://www.facebook.com/photo.php?fbid=403075359796935&set=a.245351062236033.45165.245336705570802&type=1" target="_blank"><span>See picture</span></a></div>
                                
                </div>
                <div class="fix"></div>
            </li>           
        </ul><!-- updates ends -->
        </div>
</div>
<!-- content_holder ends -->

                                    <div class="to-be-hide"></div>
                <div class="footer2">
                    <div class="left">© Electronic Music 4 Ever</div>                    
                    <div class="fix"></div>
                </div>

            </div>

        </div>
        <script type="text/javascript">
		      jQuery(function ($) {
		     		//$('#logo-container').bigtext();
					$.backstretch("images/1069790_620597254626827_967304324_n.jpg");
					});
        </script>
        
        <!--<script>
		 jQuery(function ($) {
        	console.log(document.scrollHeight+' '+jQuery('.header').height());
			if(jQuery(document).height() >= 768) {
				console.log('>768');
				jQuery('.header').css('overflow-y','hidden');
				jQuery('.footer').css('overflow-y','hidden');
			}
		 });
        </script>-->

        	
       
<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 741px; width: 1530px; z-index: -999999; position: fixed;">
<%= image_tag "1069790_620597254626827_967304324_n.jpg", :style => "position: absolute; margin: 0px; padding: 0px; border: none; width: 1530px; height: 1017.875px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -138.4375px;" %>
</div>
