<div class="transparent_overlay"></div>
<div class="container_24 wrap">
  <%= render partial: "shared/left_header" %>

  <div class="grid_15 alpha omega push_10 with_border">
    <div id="content_holder">
      <div class="subholder">
        <h2>News</h2>

        <ul class="updates">
          <%= render news %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/left_footer" %>
