---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/231320383554518/albums?access_token=123123123abcabcabc&fields=name,link,photos%7Bimages%7D&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ea5162fb608d20056afeae3467878b6b5c49c3e7"'
      Facebook-Api-Version:
      - v2.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Timeline Photos","link":"https:\/\/www.facebook.com\/album.php?fbid=324354720917750&id=231320383554518&aid=82443","photos":{"data":[{"images":[{"height":720,"source":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-9\/12963404_1156905534329327_3839171692819207812_n.jpg?oh=bad99659f5a76ab738649b74fa400525&oe=57B13CFF","width":508},{"height":680,"source":"https:\/\/fbcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpf1\/v\/t1.0-0\/p480x480\/12963404_1156905534329327_3839171692819207812_n.jpg?oh=33101515979d5baa2269194a35201cfe&oe=57AD72E4&__gda__=1467526991_c949c35b42cd18d7f6df0a17f5a55e65","width":480},{"height":453,"source":"https:\/\/fbcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpf1\/v\/t1.0-0\/p320x320\/12963404_1156905534329327_3839171692819207812_n.jpg?oh=4267497a429b790fc9fd70169f20cff3&oe=57B9E8A3&__gda__=1467166216_ab70733deafc7a0adf82a1ae9b5b4cc5","width":320},{"height":540,"source":"https:\/\/fbcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpf1\/v\/t1.0-0\/p180x540\/12963404_1156905534329327_3839171692819207812_n.jpg?oh=7985650d70d72ddbf2b27638678643ad&oe=57BDCEE8&__gda__=1470437187_52d4edef168639366af70fe841cbd78b","width":381},{"height":184,"source":"https:\/\/fbcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpf1\/v\/t1.0-0\/p130x130\/12963404_1156905534329327_3839171692819207812_n.jpg?oh=31b92c494714940f2f518ef65e70b83d&oe=57744844&__gda__=1467595503_9fab3bc8f8a94f669e5ceb93db4af251","width":130},{"height":225,"source":"https:\/\/fbcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpf1\/v\/t1.0-0\/p75x225\/12963404_1156905534329327_3839171692819207812_n.jpg?oh=1af7766faefbe368a8d1f0ed83af7957&oe=57B7EEF3&__gda__=1471876174_6410deb9e4c86a0be5e629bcb8dd7f29","width":158}],"created_time":"2016-04-15T09:53:11+0000","id":"1156905534329327"},{"images":[{"height":479,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xpa1\/v\/t1.0-9\/1451338_722355564450995_225986458_n.jpg?oh=00091db889fe0d79bea7931f3c668744&oe=57C06E62","width":720},{"height":320,"source":"https:\/\/fbcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpa1\/v\/t1.0-0\/p320x320\/1451338_722355564450995_225986458_n.jpg?oh=d61cc8207f7be66961833b26a9460bd0&oe=5779C6EA&__gda__=1470530152_bbc1ba9b450fe777a923e1e72f8e7dce","width":481},{"height":130,"source":"http[...]
