---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/231320383554518/feed?access_token=123123123abcabcabc&fields=name,type,link,picture,created_time&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ae8b952c6dfe83f326308bfba8f995af196be34d"'
      Facebook-Api-Version:
      - v2.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Giuseppe Ottaviani","type":"photo","link":"https:\/\/www.facebook.com\/giuseppeottaviani\/photos\/a.275506899503.136018.36247099503\/10153905794669504\/?type=3","picture":"https:\/\/fbcdn-photos-c-a.akamaihd.net\/hphotos-ak-xpa1\/v\/t1.0-0\/p130x130\/12963655_10153905794669504_5453722727759964637_n.jpg?oh=9250b3a72cba562686971fc50ec4819a&oe=5771D31A&__gda__=1470961893_85f7e617fb627ef7a2d2847ef1ed7376","created_time":"2016-04-17T04:15:14+0000","id":"231320383554518_1157997177553496"},{"name":"Coachella
        2016 Live Webcast Channel 3","type":"video","link":"https:\/\/www.youtube.com\/watch?v=xhMmH0AFwLc","picture":"https:\/\/fbexternal-a.akamaihd.net\/safe_image.php?d=AQDq4fw0DRSaofzT&w=130&h=130&url=https\u00253A\u00252F\u00252Fi.ytimg.com\u00252Fvi\u00252FxhMmH0AFwLc\u00252Fmaxresdefault_live.jpg&cfs=1","created_time":"2016-04-16T06:05:25+0000","id":"231320383554518_1157461014273779"},{"name":"Timeline
        Photos","type":"photo",[...]
