

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	
/* Styles */
}

@media only screen and (min-height:700px) {
	body > .container_24 > div.header {overflow: hidden;}
}


/* #Tablet (Landscape)
================================================== */

    /* Note: Design for a width of 1080px */

	@media only screen and (min-width : 768px) and (max-width : 1024px) {
		
		.container_24 {width: 984px;}
		body > .container_24 > div.header {width: 280px; padding: 0 40px 0 40px;}
		.container_24 .grid_15 {width: 624px;}
		.container_24 .push_10 {left: 368px;}
		#content_holder{ word-wrap: break-word;}
		#gallery {width: 544px; padding: 60px 40px 0;}
		#gallery ul li {width: 259px; margin: 0 25px 25px 0}
		#gallery ul li .img-holder {width: 259px;}
		ul#nav {margin: 56px 0 0 110px; width: 167px;}
		ul#nav li {font-size: 22px;}

	}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
		
		.container_24 {width: 728px;}
		body > .container_24 > div.header {width: 200px; padding: 0 20px;}
		body > .container_24 > div.header .logo {font-size: 28px !important;}
		ul#nav {margin: 56px 0 0 30px; width: 167px;}
		ul#nav li {font-size: 22px;}
		.container_24 .push_10 {left: 248px;}
		#home {padding: 0 0 0 50px; margin-top: 168px;}
		.container_24 .grid_15 {width: 480px;}
		#home p {font-size: 34px;}
		#content_holder {width: 400px; padding: 68px 40px 0;word-wrap: break-word;}
		#content_holder .subholder {width: 400px; padding-top:0px;}
		ul.events li {width: 182px; margin: 0 25px 25px 0;}
		ul.events li .img-holder {width: 180px;}
		#gallery {width: 400px;}
		/*#gallery ul li {width: 187px;}*/
		#gallery ul li .img-holder {width: 187px;}
		#content_holder p{ word-wrap: break-word;}
		#content_holder .map iframe {width: 400px!important;}
		
	}
	
	

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {

		body {font-size: 14px;}
		.container_24.wrap {width: 100%;}
		body > .container_24 > div.header {width: 90%; height: auto; position: relative; margin: 0; padding: 0 5% 40px; border: none; text-align: center;}
		body > .container_24 > div.header .logo {padding-top: 25px; font-size: 40px !important; text-align: center;}
		ul#nav {width: auto; display:none; zoom: 1; margin: 20px 0 0; padding: 20px 20px;}
		ul#nav li {font-size: 16px; text-align: center; float: none; margin: 0 0 15px;}
		#content_holder {min-height: 100%; padding: 0; position: relative; width: 100%; text-align: center; word-wrap: break-word;}
		#content_holder .subholder {padding: 40px 20px 30px;}
		#content_holder h2, #gallery h2 {font-size: 24px; margin-bottom: 30px; text-align:center;}
		#content_holder h3, #gallery h3 {font-size: 24px; margin-bottom: 30px; text-align:center;}
		#content_holder p {font-size: 14px; text-align: center;}
		.container_24 .push_10 {left: 0; width: 90%; min-height: auto; margin: 0 5%; position: relative;}
		#home {width: 100%; margin: 50px 0 0 0; padding: 0;}
		#home p {font-size: 22px; text-align: center;}
		ul.updates li {text-align: center; width: 100%;}
		ul.updates li .date {float: none; width: auto; margin-bottom: 10px; text-align: center;}
		ul.updates li .post {float: none; width: auto; text-align: center;}
		ul.events {display: inline-block; zoom: 1;}
		ul.events li {width: 202px; float: none; margin: 0 0 10px;}
		#gallery {width: 100%; text-align: center; position: relative; padding: 0px 0 30px; display: inline-block; margin-bottom:15px;}
		#gallery .subholder{ padding: 30px 20px;}
		#gallery ul {display: inline-block; zoom: 1;}
		#gallery ul li {width: 100%; margin: 0 0 20px; float: none;}
		#gallery ul li .img-holder {width: 235px; display:inline-block;}
		#gallery ul li p {text-align: center;}
		#content_holder .map iframe {width: 100%!important;}
/*		added later*/		
		a#pull {padding:15px 0 0; display: block; outline: none; color: #5F5F5F; font-size: 14px; font-weight: 500; text-transform: uppercase; text-align: center;}
		
		.footer {display: none;}
		
		.footer2 {/*border-top: 1px solid #ccc;*/ width: 100%; /*margin-top: 50px; */padding: 0 0 10px; font-size: 12px; position: relative; /*bottom: 0; left: 0;*/ color: #fff; display: block;}
		.footer2 .left {float: left; width:50%}
		.footer2 .right {float: right; width:50%; text-align:right; line-height:30px;}
		.footer2 .right a{color: #FFFFFF;}
		.social{ width:100%; text-align:center;}
		
		
		.about .footer,
		#content_holder .footer2,
		#gallery .footer2 {color: #565656;}
		.to-be-hide {display: block; padding: 0; height: 45px;}
		
		body > .container_24 > div.header {overflow-y: hidden; height: auto; min-height: 100px;}
		.temp {min-height: 100px;}
		
		}
		#tab1{ text-align:center}
		.label { font-size: 12px; font-weight: bold; line-height: 15px;}

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		body {font-size: 14px;}
		.container_24.wrap {width: 100%;}
		body > .container_24 > div.header {width: 100%; height: auto; position: relative; margin: 0; padding: 0 0 40px; border: none; text-align: center;}
		body > .container_24 > div.header .logo {padding-top: 25px; font-size: 35px !important; text-align: center;}
		ul#nav {width: auto; display: inline-block; zoom: 1; margin: 20px 0 0; padding: 20px 20px;}
		ul#nav li {font-size: 16px; text-align: center; float: none; display: inline; margin: 0 10px 0;}
		ul#nav li:first-child {margin-left: 0;}
		.container_24 .push_10 {left: 0; width: 90%; margin: 0 5%; position: relative;}
		#home {width: 100%; margin: 50px 0 0 0; padding: 0;}
		#home p {font-size: 28px; text-align: center;}
		#content_holder {width: auto; text-align: left; position: relative; word-wrap: break-word;}
		#content_holder .subholder{ padding: 30px 20px; text-align: center;}
		ul.updates li .date {width: 80px; text-align: left; float: left;}
		ul.updates li .post {width: 298px!important; text-align: left; float: left;}
		ul.events li {width: 184px!important; margin: 0 10px 20px 0; float: left;}
		ul.events li:nth-child(2n+2) {margin-right: 0;}
		ul.events li .img-holder {width: 182px !important;}
		#gallery {width: 100%; text-align: center; position: relative; padding: 0px 0 30px;}
		#gallery .subholder{ padding: 30px 20px;}
		#gallery ul {display: inline-block; zoom: 1;}
		#gallery ul li {width: 320px; margin: 0 0 20px; float: none;}
		#gallery ul li .img-holder {width: 320px;}
		#gallery ul li p {text-align: center;}
		#content_holder p{ word-wrap: break-word;}
		#content_holder .map iframe {width: 100%!important;}
		.center {text-align: center;}
		.about p {text-align: left!important;}
/*		added later*/		
		a#pull {display: none;}
		#tab1,#tab2{ text-align:center}
		
		.footer {display: none;}
		
		.footer2 {/*border-top: 1px solid #ccc;*/ width: 100%; /*margin-top: 50px; */padding: 0 0 10px; font-size: 12px; position: absolute; bottom: 0; left: 0; color: #fff; display: block;}
		.footer2 .left {float: left; width:50%}
		.footer2 .right {float: right; width:50%}
		.footer2 .right a{color: #FFFFFF;}
		
		
		.about .footer,
		#content_holder .footer2,
		#gallery .footer2 {color: #565656;}
		.to-be-hide {display: block; padding: 0; height: 45px;}
		
		.temp {text-align: center; min-height: 100px;}
		body > .container_24 > div.header {overflow-y: auto; height: auto; min-height: 100px;}
		
    }
	
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
